body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*******************************************/
header{
    width: 100%;
    padding: 10px;
}

header > img{
    width: 40px;
}

#middle {
    width: 80%;
    display: flex;
}

main{
    width: 100%;
    padding: 20px;
}

aside{
    width: 200px;
}
aside ul{
    width: 200px;
}

aside ul li{
    width: 100%;
}

header *{
    display: inline;
}